[package]
name = "c3p0"
license = "MIT"
version = "0.53.0"
authors = ["Francesco Cina <ufoscout@gmail.com>"]
description = "A good friend for r2d2. Based on rust-postgres."
edition = "2018"
readme = "README.md"
homepage = "https://github.com/ufoscout/c3p0"
repository = "https://github.com/ufoscout/c3p0"
keywords = ["mysql", "postgres", "pg", "sqlite", "json"]

[dependencies]
c3p0_common = { path = "../c3p0_common", version = "0.53.0" }

#in_memory feature
c3p0_in_memory = { path = "../c3p0_in_memory", version = "0.53.0", optional = true }

# mysql feature
c3p0_mysql = { path = "../c3p0_mysql", version = "0.53.0", optional = true }

# postgres feature
c3p0_postgres = { path = "../c3p0_postgres", version = "0.53.0", optional = true }


[dev-dependencies]
futures = "0.3"
maybe-single = "0.11"
once_cell = "1.4.0"
rand = "0.7"
serde = { version = "1.0" , features = ["derive"] }
serde_json = "1.0"
testcontainers = "0.9"
thiserror = "1.0"
tokio = { version = "0.2", features = ["rt-threaded", "macros"] }

[features]
default = []

in_memory = ["c3p0_in_memory"]

mysql = ["c3p0_mysql"]
mysql_migrate = ["mysql", "c3p0_mysql/migrate"]

postgres = ["c3p0_postgres"]
postgres_migrate = ["postgres", "c3p0_postgres/migrate"]

tidb = ["c3p0_mysql"]
tidb_migrate = ["tidb", "c3p0_mysql/migrate"]